<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form action="">
                                <table class="table table-bordered">
                                        <thead class="thead bg-primary text-white" >
                                          <tr>
                                            <th scope="col">Codigo</th>
                                            <th scope="col">Descripcion</th>
                                            <th scope="col">Accion</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td> Programacion</td>
                                                <td>
                                                    <a href="#" class="btn btn-info">Modificar</a>
                                                    <a href="#" class="btn btn-danger">Eliminar</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td> Matematica</td>
                                                <td>
                                                        <a href="#" class="btn btn-info">Modificar</a>
                                                        <a href="#" class="btn btn-danger">Eliminar</a>    
                                                </td>      
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td> Lengua Y Literatura</td>
                                                <td>
                                                        <a href="#" class="btn btn-info">Modificar</a>
                                                        <a href="#" class="btn btn-danger">Eliminar</a>    
                                                </td>      
                                            </tr>
                                            <tr>
                                                <th scope="row">4 </th>
                                                <td> Biologia</td>
                                                <td>
                                                        <a href="#" class="btn btn-info">Modificar</a>
                                                        <a href="#" class="btn btn-danger">Eliminar</a>    
                                                </td>      
                                            </tr>
                                            <tr>
                                                <th scope="row">5 </th>
                                                <td> Fisica</td>
                                                <td>
                                                        <a href="#" class="btn btn-info">Modificar</a>
                                                        <a href="#" class="btn btn-danger">Eliminar</a>    
                                                </td>      
                                            </tr>
                                            <tr>
                                                <th scope="row">6 </th>
                                                <td> Quimica</td>
                                                <td>
                                                        <a href="#" class="btn btn-info">Modificar</a>
                                                        <a href="#" class="btn btn-danger">Eliminar</a>    
                                                </td>      
                                            </tr>
                                            <tr>
                                                <th scope="row">7 </th>
                                                <td> Anatomia</td>
                                                <td>
                                                        <a href="#" class="btn btn-info">Modificar</a>
                                                        <a href="#" class="btn btn-danger">Eliminar</a>    
                                                </td>      
                                            </tr>
                                            <tr>
                                                <th scope="row">8 </th>
                                                <td> Psicologia</td>
                                                <td>
                                                        <a href="#" class="btn btn-info">Modificar</a>
                                                        <a href="#" class="btn btn-danger">Eliminar</a>    
                                                </td>      
                                            </tr>
                                            <tr>
                                                <th scope="row">9 </th>
                                                <td> Historia</td>
                                                <td>
                                                        <a href="#" class="btn btn-info">Modificar</a>
                                                        <a href="#" class="btn btn-danger">Eliminar</a>    
                                                </td>      
                                            </tr>
                                            <tr>
                                                <th scope="row">10</th>
                                                <td> Ingles</td>
                                                <td>
                                                        <a href="#" class="btn btn-info">Modificar</a>
                                                        <a href="#" class="btn btn-danger">Eliminar</a>    
                                                </td>      
                                            </tr>

                                        </tbody>
                                </table>    
        
                                
                        </form>
        
                    </div>
                </div>    
            </div>
</body>
</html>