<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="">
                        <table class="table table-bordered">
                                <thead class="thead bg-primary text-white" >
                                  <tr>
                                    <th scope="col">Especialidad</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Accion</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Ciencias</th>
                                        <th>jajjaa</th>
                                        
                                        <td>
                                            <a href="#" class="btn btn-info">Modificar</a>
                                            <a href="#" class="btn btn-danger">Eliminar</a>
                                         </td>
                                     
                                            
                                    </tr>
                                    <tr>
                                        <th scope="row">Tecnico</th>
                                        <th>jajjaa</th>
                                       
                                        <td>
                                                <a href="#" class="btn btn-info">Modificar</a>
                                                <a href="#" class="btn btn-danger">Eliminar</a>
                                                
                                        </td>
                                      
                                                
                                    </tr>
                                    
                                         
                                    
                                </tbody>
                        </table>    

                        
                </form>

            </div>
        </div>    
    </div>
</body>
</html>